*{
  font-family: 'Indie Flower', cursive;
  border:1px solid  red;
  color:#e6ebef;
  font-size: 20px;
  }
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
    padding:10%;
      font-size: 25px;
      width:100vw;
      color: #e6ebef;
}
.back{
  background-image: image("images/portfolio.jpg");
  }
  .cont{
    background-color: #313131;
  }
.header{
  display: flex;
  width:100%;
margin-top:0px;
}
.logo{
  flex:left;
  width:25%;
  }
  .ninja{
    width:100px;
    height:100px;
    padding-top: 15px;
    padding-left: 0px;
  }
.title{
  font-family: 'Bellefair', serif;
  text-align: right;
  width:75%;
  flex: right;
  }
  .sub-title{
    text-shadow: 3px 3px 3px #aaa;
  }
hr{
  background-color:#e7dfce;
}
#banner{
  text-align: center;
  max-width: 100%;
}
.featured-works{
  display:flex;
  width:100%;
}
.projects{
    width:100%;
    border: 1px solid;
    border-radius: 20px;
  }
.cards{
  border-style: outset;
  border-radius: 20px;
  border-color: #e7dfce;
  background-color: #313131;
  }
.share{
  display:flex;
}
.footer{
  text-align: center;
}
